@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item mr-2">
        <a  class="nav-link btn btn-outline-info" style="padding: 6px;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="bi bi-person-lines-fill"></i> Myprofile</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="btn btn-outline-danger"><i class="bi bi-x-circle"></i> Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="btn btn-outline-light mr-2" asp-area="Identity" asp-page="/Account/Register"><i class="bi bi-person-circle"></i> Register</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-outline-light " asp-area="Identity" asp-page="/Account/Login"><i class="bi bi-box-arrow-in-right"></i> Login</a>
    </li>
}
</ul>
