@model IEnumerable<E_commerce_app.Models.Category>

        <div class="col-md-3">
            <div class="card">
                <div class="list-group">
                    <a asp-action="Index" asp-controller="Home" asp-area="Customer" class="list-group-item list-group-item-action @(ViewBag.CategoryId == null? "active" : "") aria-current="true">
                        All Products
                    </a>
                    @foreach (var item in Model)
            {
                    <a asp-action="CategoryDetails" asp-controller="Home" asp-area="Customer"  class="list-group-item list-group-item-action @(ViewBag.CategoryId?.ToString() == item.Id.ToString()? "active" : "")" asp-route-id="@item.Id">@item.Name</a>
                
            }
                </div>
            </div>
        </div>